@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    
body, html {
  font-family: 'Open Sans', sans-serif;
}

.title {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  text-transform: uppercase;
  font-weight: bolder;
}

/* Este codigo fue extraido de  https://stackoverflow.com/questions/36229356/whats-the-equivalent-of-the-container-bootstrap-class-in-purecss-io */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}